@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.form-control,
.btn,
.card,
.dashed {
	border: 1px dashed #000 !important;
	border-radius: 10px !important;
}

* {
	font-family: 'Handlee', cursive;
}

.header {
	text-decoration: dashed;
	background-color: #7066e0;
	color: #fff;
}

.header .btn {
	color: #fff;
	border-color: #fff !important;
}

.header .btn:hover {
	color: #7066e0;
	;
	background-color: #fff;
	border-color: #000 !important;
}

.text-throught {
	text-decoration: line-through;
}

.form-group {
	margin-bottom: 5px;
}

.btn-primary,
.list-group-item.active {
	background-color: #7066e0;
}

.list-group.menu>.list-group-item {
	cursor: pointer;
}